.button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #403157;
  background-color: #c6b1bb;
  border-radius: 10px;
  margin-bottom: 100px;
}

a {
  text-decoration: none;
}

.button:hover {
  background-color: #dccee0;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 20px;
    font-size: 36px; /* Decrease font size for smaller screens */
  }

  ul {
    margin-top: 0;
  }

  .colour img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .button {
    width: 150px;
    margin-bottom: 50px;
  }
}
