.button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: #403157;
  background-color: #c6b1bb;
  border-radius: 10px;
  margin-bottom: 100px;
}

.button:hover {
  background-color: #dccee0;
}
