h1 {
  text-align: center;
  color: #78626e;
  margin: 50px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 20px;
  color: #494446;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20%;
  padding: 20px;
}

/* Video Styles */
video {
  width: 450px;
  margin-left: 5%;
  margin-bottom: 1%;
  border-radius: 20px;
  height: auto;
}

/* Paragraph Styles */
p {
  text-align: center;
  color: #1d1c1c;
  margin-top: 20px;
  margin-left: 15px;
}

img {
  margin-left: 5%;
  height: 40%;
  border-radius: 20px;
}

.promo-class {
  height: 700px;
}

.button {
  display: block;
  width: 300px;
  margin: 20px auto;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  /* color: #403157;
    background-color: #c6b1bb; */
  border-radius: 10px;
  margin-top: 120px;
  margin-left: 100px;
}

.button:hover {
  background-color: #dccee0;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  h1 {
    margin: 20px; /* Adjust margin for smaller screens */
  }

  .container {
    grid-template-columns: repeat(
      1,
      minmax(0, 1fr)
    ); /* Adjust grid to one column for smaller screens */
    gap: 20px; /* Adjust gap for smaller screens */
  }

  video,
  img {
    width: 100%; /* Make videos and images responsive on smaller screens */
    margin: 0 auto; /* Center videos and images horizontally */
  }

  .promo-class {
    height: auto; /* Allow height to adjust automatically on smaller screens */
  }

  .button {
    width: 200px; /* Adjust button width for smaller screens */
    margin: 10px auto; /* Center button horizontally and adjust top margin */
    margin-top: 20px; /* Adjust button top margin for smaller screens */
    margin-left: auto; /* Center button horizontally */
    margin-right: auto; /* Center button horizontally */
  }
}
