* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF6FC;

}

nav {
    background: linear-gradient(45deg,#c6b1bb,#78626E); 
     /* background-color: #c6b1bb; */
   /* background-color: #C4ADC9;*/
    /*background-color: #DCCEE0; */
    
    padding: 40px 10px; 
    display: flex; /* Flexbox for layout */
    justify-content: space-between; /* Align items to the left and right */
    align-items: center; /* Vertically center items */
}

.logo {
    padding-left: 50px; /* Left padding to the logo */
    color: #403157; 
    font-size: 84px;
    font-family: 'Sacramento', cursive;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center align the navigation items */
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #252424; 
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

nav ul li a:hover {
    background-color:#DCCEE0;
    color: #252424; 
    border-radius: 5px;
}

#title {
    font-size: 45px;
    margin-left: 40%;
    margin-top: 40%;
    font-family: 'Sacramento', cursive;
    text-align: center;
}

.summary {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin-left: 50%;
}

.button {
    background-color: #c6b1bb;
    color: #403157;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    text-align: center;
    font-weight: 450;
    font-size: 1rem;
    box-shadow: grey;
    margin-left: 50%; 
    margin-right: 10%; 
    display: block; 
    margin-top: 20px; 
}

.button:hover {
    background-color:#DCCEE0; 
}

.image {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
} 

.credit {
    display: block;
    text-align: center;
    font-style: italic;
    color: #242222; 
    margin-top: 5px;
    background-color: #c6b1bb;
    padding: 12px 12px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
}

.colour{
 margin-top: 50px;

}

footer {
    background: linear-gradient(45deg,#c6b1bb,#78626E); 
    color: #252424;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

footer p {
    font-size: 14px;
}


@media only screen and (max-width: 768px) {
    nav {
        padding: 20px 10px; /* Adjust padding for smaller screens */
    }

    .logo {
        padding-left: 20px; /* Adjust logo padding for smaller screens */
        font-size: 48px; /* Decrease font size for smaller screens */
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px; /* Add margin between navigation items */
    }

    nav ul li a {
        padding: 15px; /* Decrease padding for navigation links */
        font-size: 16px; /* Decrease font size for navigation links */
    }
    
    #title {
        font-size: 30px; /* Decrease font size for title */
        margin-left: 20%; /* Adjust margin for smaller screens */
        margin-top: 20%; /* Adjust margin for smaller screens */
    }

    .summary {
        font-size: 16px; /* Decrease font size for summary */
        margin-left: 20%; /* Adjust margin for smaller screens */
    }

    .button {
        padding: 0.5rem 1rem; /* Adjust padding for button */
        font-size: 0.8rem; /* Decrease font size for button */
        margin-left: 20%; /* Adjust margin for smaller screens */
        margin-right: 10%; /* Adjust margin for smaller screens */
        display: inline-block; /* Change display to inline-block */
        margin-top: 10px; /* Adjust margin for smaller screens */
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust grid columns for smaller screens */
    }

    .colour {
        margin-top: 30px; /* Adjust margin for smaller screens */
    }
}
